In [5]:
print ("My name is Hajarat and I am trying my hands on some codes")

My name is Hajarat and I am trying my hands on some codes

# The following set of codes are some learnings on w3school Python tutorial

## Assigning values to variables

In [10]:
a = "Hajarat"
b = "Titilope"
c = "OLUFADE"
print (a)
print (b)
print (c)

Hajarat
Titilope
OLUFADE

In [12]:
if 7 < 11:
    print ("7 is less than 11")

7 is less than 11

## Comments in Python

In [14]:
# I am just trying to write a comment.
# still trying to wrap my head around how the comment command is being used.

### Multiline Comments in Python

In [18]:
"""
I am just trying to write a comment.
still trying to wrap my head around how the comment command is being used.
"""

'\nI am just trying to write a comment.\nstill trying to wrap my head around how the comment command is being used.\n'

## Variable Type Tutorial

In [21]:
a = "Hajarat"
b = 32
c = 32.0
print (type(a))
print (type (b))
print (type (c))

<class 'str'>
<class 'int'>
<class 'float'>

## Variable Name Tutorial

In [24]:
pupil_name = "Ashraf"
PupilSurname = "YUSUF"
Height = "45.6 cm"
age = 7
class_arm = "B2"
print (pupil_name)
print (PupilSurname)
print (Height)
print (age)
print (class_arm)

Ashraf
YUSUF
45.6 cm
7
B2

## Many values = Multiple variables

In [23]:
a, b, c = 1, 2, "Titilope"
print (a)
print (b)
print (c)

1
2
Titilope

## One value = Multiple Variables

In [25]:
a = b = c = 2
d = e = f = "Ashraf"
print (a)
print (b)
print (c)
print (d)
print (e)
print (f)

2
2
2
Ashraf
Ashraf
Ashraf

## Unpacking

In [26]:
countries = [ "Nigeria", 'China', "Canada"]
a, b, c = countries
print (a)
print (b)
print (c)

Nigeria
China
Canada

## Variables Output

In [31]:
a = 6
b = 8
c = "I "
d = "am "
e = "enjoying "
f = "Python "
print (a + b)
print (c+d+e+f)
print (c, d, e, f)
print (a, f)

14
I am enjoying Python
I  am  enjoying  Python
6 Python

# FIRST ASSIGNMENT COMPLETED